docs/prompts/13_RPA_multimedias.json
{
  "name": "13_RPA_multimedias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -832,
        -2768
      ],
      "id": "0ace8629-2011-4eda-bcde-56b01387b7e6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1_ne2KrRRjTVr78VZufvWWzbIgMtjNDYL",
            "mode": "list",
            "cachedResultName": "Gmail 컨설팅 문의",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1_ne2KrRRjTVr78VZufvWWzbIgMtjNDYL"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        -2768
      ],
      "id": "be4c2caa-b5c6-4a2b-bdf8-3a5eb76af3be",
      "name": "Search files and folders"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 30년 경력의 총괄 전략 컨설턴트, 재무 및 견적 전문가, 매체 바잉 및 협상 전문가, 콘텐츠 제작 매니저입니다.\n제공된 고객 문의 을 분석하고, 가격 정책 을 기준으로 하여 output form 형식의 메일 예시문을 각각 작성\n\n- 담당자는 '본인' 으로 표기\n- 업무 메일 형식으로 작성\n- 메일 제목은 핵심 내용이 한 눈에 들어오게 작성\n- 받는 사람은 회사명 + 담당자명(직함) 표기\n- 본문에는 인사말, 메인 작성 목적,  본문 내용(핵심 정보 중심), 요청 사항 및 다음 단계 안내, 맺음말이 들어가야 하며, 가독성 좋게 표현\n- 서명에는 이름, 회사명,직책, 연락 가능 한 번호,이메일 표기하며, 회사명, 직책, 연락 가능 한 번호, 이메일은 가격 정책 내의 자료 참조\n- n8n object로 구분 가능하게 출력\n\n[고객 문의]\n{{ $json }}\n\n[가격 정책]\n{{ $('Extract from File1').item.json.data }}\n\n[output form]\n\"메일 제목\": text\n\"받는 사람\": mail address\n\"본문\": text\n\"서명\": text"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        176,
        -2416
      ],
      "id": "210a3e97-2576-48d1-aae3-4930df6173b3",
      "name": "Message a model"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1iZ5rWUeFO6N8ih8x6DlH17qYez9r_u5G/view?usp=sharing",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -2768
      ],
      "id": "723f4a1d-dde6-47f1-b498-5487050043c4",
      "name": "Download file1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        -2768
      ],
      "id": "a4c1cb9f-63e6-4ed5-a42e-889995d07b8d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "folderId": "=1a8AH29f4AULErlZblEfbBSnStKLryIDH",
        "title": "=응대 메일_{{ $('Search files and folders').item.json.name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        736,
        -2416
      ],
      "id": "f03ea275-c1f4-485d-8c20-296ac51cf100",
      "name": "Create a document"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ JSON.stringify($('Message a model').item.json.content.parts[0].text) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        944,
        -2416
      ],
      "id": "35619261-e290-467b-a02e-b292efbf660d",
      "name": "Update a document"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -2288
      ],
      "id": "3c7a04f7-d858-428a-8e6d-08655ec19f48",
      "name": "Download file4"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        -2288
      ],
      "id": "5efd51f5-c578-48d5-9708-b6aec971f234",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b51fe620-e9dd-4a7d-9c5c-32f6b4ca22b0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b76edc0a-e8fc-4e32-ace5-6208a6ce84cc",
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "=application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "22380063-16a7-4382-9a01-d5395c45033b",
                    "leftValue": "={{ $('Search files and folders').item.json.mimeType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -624,
        -2432
      ],
      "id": "e8f84deb-e0f5-4826-ab19-6f0d569254d6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Search files and folders').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -416,
        -2416
      ],
      "id": "b74a63d0-5e51-48fd-b313-6bcc797b49f6",
      "name": "Get a document2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        -2544
      ],
      "id": "b4371c27-a6d2-4e11-a453-98d5f7aa86d8",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        -2544
      ],
      "id": "fe279241-b40b-461f-9329-24a1fad0ea4d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aa72e9e-f5bb-45c6-b72a-8a392d140dca",
              "name": "content",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -2544
      ],
      "id": "f4e6c575-5244-4b57-8327-3a4fe1da2491",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1-EO-Bcp3uVKDmVORSnHl4zQSrowctQKW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        -2416
      ],
      "id": "eadda312-383d-4b7a-9def-985c095bc238",
      "name": "Move file3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file3": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2984dff-7847-44b2-bd41-0e8bbbe0b78c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "334dbaad2c52920a4eb74d6af427b7f53da9c837a59cb4abb3a43de026d677bd"
  },
  "id": "pbg5NC5dUHw1vguB",
  "tags": []
}